.projects h1, .projects h2, .projects h3, .projects p, {
  text-align: center;
}

.projects h3 {
  font-size: 0.01em;
  color: #bfc8da;
} .projects h3 a {
  font-size: 120em;
}

@media screen and (min-width: 500px) {
  .projects h3 {
    font-size: 1em;
  } .projects h3 a {
    font-size: 1.2em;
  }

}
