.projects h1, .projects h2, .projects h3, .projects p, {
  text-align: center;
}

.projects h3 {
  line-height: 1em;
  padding-top: 10px;
}

.projects p {
  line-height: 1.5em;
  font-style: italic;
  padding-bottom: 10px;
}
