.projectpage p, .projectpage h2, .projectpage h3, .projectpage h4, .projectpage h5, .projectpage h6, .projectpage li {
  line-height: 1.5em;
}

.projectpage h1, .projectpage h2, .projectpage h5, .projectpage h6 {
  text-align: center;
}

.projectpage p, .projectpage h3, .projectpage h4, .projectpage li {
  text-align: left;
}

.projectpage a {
  background: #3a3a59;
  padding: 0 5px;
  margin: 0 2px;
  border-radius: 7px;
}

.projectpage h3 {
  padding-bottom: 10px;
}

.projectpage h4 {
  padding: 5px 0;
}

.projectpage h6 {
  font-style: italic;
  color: #99ce9a;
  display: inline-block;
  padding-bottom: 1em;
}

.projectpage ul {
  margin: 0;
}

.projectpage img {
  margin: 1em 0 0 0;
}

.projectpage iframe {
  margin: 1em 0 0 0;
}
