html, body {
  min-height: 100% !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #282c34;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#app {
  min-height: 100% !important;
  height: 100% !important;
}

a {
  text-decoration: none;
} a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-weight: normal;
  line-height: 2em;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.8em;
  color: #a9ee8a;
} h1 a {
  font-weight: bold;
  color: #a9ee8a;
}

h2 {
  font-size: 1.5em;
  color: #56b6c2;
} h2 a {
  color: #56b6c2;
}

h3 {
  font-size: 1.2em;
  color: #d0a680;
} h3 a {
  color: #d0a680;
}

h6 {
  font-size: 1em;
  color: #bfc8da;
  text-align: center;
  font-style: italic;
  display: inline-block;
} h6 a {
  color: #e06C75;
}

p, h4, h5, li {
  font-size: 1em;
  color: #bfc8da;
} p a, h4 a, h5 a, li a {
  color: #e06C75;
}

hr {
  height: 1px;
  border: 0;
  margin: 20px 0;
  background: #4c566a;
}
